@model WebApplication4.Models.Projects

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Projects",FormMethod.Post,new { enctype= "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Projects</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div  class="form-group" >
        @Html.LabelFor(model => model.projectCode, "Project Code" ,htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.projectTitle, "Project Title", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectTitle, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        @Html.LabelFor(model => model.projectScope, "Project Scope", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectScope, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectScope, "", new { @class = "text-danger" })
        </div>
    </div>
     
    
        <div class="form-group">
            @Html.LabelFor(model => model.projectOutcomes, "Project Outcomes", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.projectOutcomes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.projectOutcomes, "", new { @class = "text-danger" })
            </div>
        </div>
         
    <div class="form-group">
        @Html.LabelFor(model => model.projectDuration, "Project Duration", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="projectDuration" class="form-control">
                <option value="4">4 Month</option>
                <option value="9">9 Month</option>
            </select>



        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.projectPlacementRequirements, "Project Placement Requirements", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectPlacementRequirements, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectPlacementRequirements, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.projectSponsorAgreement, "Project Sponsor Agreement", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.projectSponsorAgreement, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.projectSponsorAgreement, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.projectStatus, "Project Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("projectStatus", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.projectStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.projectStatusComment, "Project Status Comment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectStatusComment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectStatusComment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.projectStatusChangeDate, "Project Status Change Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectStatusChangeDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectStatusChangeDate, "", new { @class = "text-danger" })
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.projectSemester, "Project Semester", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <select name="projectSemester"  class="form-control">
                <option value="SP2">SP2</option>
                <option value="SP5">SP5</option>
            </select>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.projectSemesterCode, "Project Semester Code", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectSemesterCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectSemesterCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.projectYear, "Project Year", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="projectYear" class="form-control">
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.projectSequenceNo, "Project Sequence No", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.projectSequenceNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.projectSequenceNo, "", new { @class = "text-danger" })
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.honoursUndergrad, "Honours Undergrad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="honoursUndergrad">
                <option value="u">YES</option>
                <option value="w">NO</option>
            </select>
        </div>
    </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.requirementsMet, "Requirements Met", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.requirementsMet)
                    @Html.ValidationMessageFor(model => model.requirementsMet, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       
    @* User *@
    
        <div class="form-group">
            @Html.LabelFor(model => model.projectCreatorID, "Project Creator ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("projectCreatorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectCreatorID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.projectEffortRequirements, "Project Effort Requirements", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.projectEffortRequirements, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.projectEffortRequirements, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.austCitizenOnly, "Aust Citizen Only", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.austCitizenOnly)
                    @Html.ValidationMessageFor(model => model.austCitizenOnly, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.studentsReq, "Students Req", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="studentsReq" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </div>
       
    <div class="form-group">
        <label class="control-label col-md-2">Staff/Client Files</label>

        <div class="col-md-10">


            <input type="file" name="name" multiple value="" />

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Additional Files</label>

        <div class="col-md-10">


            <input type="file" name="add" value="" />

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
