
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Staff</h2>
<hr />
<html xmlns="http://www.w3.org/1999/xhtml">
@{
    //Get value from controller: the data from AspNetUsers where has same personID
    var userDetail = ViewBag.getPersonID;
}
<head>
    <style>
        @* This style is used to adjust the top margin*@
        .div {
            position: relative;
            top: 50px;
        }
    </style>
</head>
<body>
    <div class="div">
        <dl class="dl-horizontal">
            <dt>
                Staff Name:
            </dt>
            <dd>
                @* Get value from AspNetUsers table from database *@
                @userDetail.UserName
            </dd>
            <dt>
                Uni Staff ID:
            </dt>
            <dd>
                @ViewBag.uniStaffID
            </dd>
            <dt>
                Staff E-mail:
            </dt>
            <dd>
                @userDetail.Email
            </dd>
            <dt>
                Staff Phone Number:
            </dt>
            <dd>
                @userDetail.PhoneNumber
            </dd>
            <dt>
                Date Ended:
            </dt>
            <dd>
                @* Get value from Clients table from database *@
                @ViewBag.dateEnded
            </dd>

        </dl>

        <div class="downMove">
            <br />
            <input type="submit" value="Delete" class="btn btn-primary" />
            <p>
                <br />
                @* The first is the word of the link, and the second is the name of page which will turn to. *@
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>

</body>
</html>
