
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Staff</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
@{
    var userDetail = ViewBag.getPersonID;
}
<head>
    <style>
        .div {
            position: relative;
            top: 100px;
        }

        h2 {
            position: absolute;
            top: 100px;
        }
    </style>
</head>
<body>
    <div class="div">
        <dl class="dl-horizontal">
            <dt>
                Staff Name:
            </dt>
            <dd>
                @userDetail.UserName
            </dd>
            <dt>
                Uni Staff ID:
            </dt>
            <dd>
                @ViewBag.uniStaffID
            </dd>
            <dt>
                Staff E-mail:
            </dt>
            <dd>
                @userDetail.Email
            </dd>
            <dt>
                Staff Phone Number:
            </dt>
            <dd>
                @userDetail.PhoneNumber
            </dd>
            <dt>
                Date Ended:
            </dt>
            <dd>
                @ViewBag.dateEnded
            </dd>

        </dl>

        <div class="downMove">
            <br />
            <input type="submit" value="Delete" class="btn btn-primary" />
            <p>
                <br />
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>

</body>
</html>
