
@{
    ViewBag.Title = "Detail";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .div {
            margin-left: 80px;
            margin-top: 80px;
        }

        p {
            position: relative;
            margin-left: 20px;
        }
    </style>
</head>
@{
    var userDetail = ViewBag.getPersonID;
}

<body>

    <h2>Staff Detail</h2>
    <hr style="width=400px" />
    <div class="div">
        <dl class="dl-horizontal">
            <dt>
                Staff Name:
            </dt>
            <dd>
                @userDetail.UserName
            </dd>
            <dt>
                Uni Staff ID:
            </dt>
            <dd>
                @ViewBag.uniStaffID
            </dd>
            <dt>
                Staff E-mail:
            </dt>
            <dd>
                @userDetail.Email
            </dd>
            <dt>
                Staff Phone Number:
            </dt>
            <dd>
                @userDetail.PhoneNumber
            </dd>
            <dt>
                Date Ended:
            </dt>
            <dd>
                @ViewBag.dateEnded
            </dd>
        </dl>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>

</html>

