
@{
    ViewBag.Title = "Detail";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .div {
            position: relative;
            top: 50px;
        }
    </style>
</head>
@{
    //Get value from controller: the data from AspNetUsers where has same personID
    var userDetail = ViewBag.getPersonID;
}

<body>

    <h2>Staff Detail</h2>
    <div class="div">
        <dl class="dl-horizontal">
            <dt>
                Staff Name:
            </dt>
            <dd>
                @* Get value from AspNetUsers table from database *@
                @userDetail.UserName
            </dd>
            <dt>
                Uni Staff ID:
            </dt>
            <dd>
                @ViewBag.uniStaffID
            </dd>
            <dt>
                Staff E-mail:
            </dt>
            <dd>
                @userDetail.Email
            </dd>
            <dt>
                Staff Phone Number:
            </dt>
            <dd>
                @userDetail.PhoneNumber
            </dd>
            <dt>
                Date Ended:
            </dt>
            <dd>
                @* Get value from Clients table from database *@
                @ViewBag.dateEnded
            </dd>
        </dl>
        <p>
            @* The first is the word of the link, and the second is the name of page which will turn to. *@
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>

</html>

