@model WebApplication4.Models.Students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class=" control-label col-md-10"> Plan Name </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plans.planName)
        </dd>

        <dt>
            <label class=" control-label col-md-10"> Student Name </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uniUserName)
        </dd>

        <dt>
            <label class=" control-label col-md-10"> Student ID </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uniStudentID)
        </dd>

        <dt>
            <label class=" control-label col-md-10"> GPA </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gpa)
        </dd>

        <dt>
            <label class=" control-label col-md-10"> Student Email </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentEmail)
        </dd>

        <dt>
            <label class=" control-label col-md-10"> Year </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            <label class=" control-label col-md-10"> Sememster </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semester)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
