<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - the unisa project allocation tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap-table/dist/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.css" />

    <style>
        .jumbotron {
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
            color: inherit;
            background-color: #eeeeee;
        }

            .jumbotron h1,
            .jumbotron .h1 {
                color: inherit;
            }

            .jumbotron p {
                margin-bottom: 15px;
                font-size: 21px;
                font-weight: 200;
            }

            .jumbotron > hr {
                border-top-color: #d5d5d5;
            }
    </style>
</head>
<body>

    

    <nav class="navbar navbar-expand bg-dark navbar-dark fixed-top" style="margin-bottom:10px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UniSA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home",null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {

                        if (!User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown" id="projectsLI">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Projects<span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Project Management", "index", null, new {controller = "Projects" })</li>
                                    <li>@Html.ActionLink("Email Allocated Students", "LiEmailStudents", "Email", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Email Allocated Staff", "LiEmailStaff", "Email", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Email Clients", "LiEmailClients", "Email", null, new { @class = "dropdown-item" })</li>
                                </ul>

                            </li>
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown" id="projectsLI">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Projects<span class="caret"></span></a>
                                <ul class="dropdown-menu">


                                    <li>@Html.ActionLink("Project Management", "index", "Projects", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Project Allocation", "Index", "ProjectPeopleAllocations", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Project Prioritisation", "Index", "PriorityProjects", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Email Allocated Students", "LiEmailStudents", "Email", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Email Allocated Staff", "LiEmailStaff", "Email", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Email Clients", "LiEmailClients", "Email", null, new { @class = "dropdown-item" })</li>
                                </ul>

                            </li>
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown" id="adminManagementLI">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Admin Management<span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Add Single Account", "Create", "AspNetUsers", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Add Multiple Accounts", "Index", "MulAccount", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Link Students to Courses", "Index", "StudentCourses", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Link Courses to Plans", "Index", "PlanCourses", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Student Management", "Index", "Students", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Staff Management", "Index", "Staff", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Client Management", "Index", "Client", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Role Management", "Index", "AspNetRoles", null, new { @class = "dropdown-item" })</li>
                                    <li>@Html.ActionLink("Effort Management", "Index", "ProjectEfforts", null, new { @class = "dropdown-item" })</li>
                                </ul>
                            </li>
                        }

                    }
                </ul>

            </div>
            <div style="float:left"> @Html.Partial("_LoginPartial")</div>
        </div>
</nav>
    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
