@model WebApplication4.Models.RegisterViewModel

@{
    ViewBag.Title = "Create";
    
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>AspNetUsers</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2"> Select Account Type </label>

        <div class="col-md-10">
            @*<select class="form-control userTypeSelect" id="Role" name="Role" onchange="multipleUserTypeChange()">
                    <option value="15A8EC6E-31A9-4753-AF05-5A900AA18E71">Student</option>
                    <option value="A13BD030-B150-4602-B1C4-B6FD80E4A11E">Client</option>
                    <option value="83AC9356-6F98-441F-B7F1-9BF7338135C4">Staff</option>

                </select>*@
            @Html.DropDownList("Role", null, htmlAttributes: new { @class = "form-control", onchange = "multipleUserTypeChange()" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Sex, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Sex",new List<SelectListItem> {(new SelectListItem() { Text = "--请选择--", Value = "", Selected = true }), (new SelectListItem() { Text = "Male", Value = "1"}), (new SelectListItem() { Text = "Male", Value = "0" }) }, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <label class="control-label col-md-2"> title </label>

        <div class="col-md-10">
            <select class="form-control userTypeSelect">
                <option>Mr</option>
                <option>Dr</option>
                <option>Mrs</option>
                <option>Miss</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group divClient">
        <label class="col-md-2 control-label">  Company: </label>

        <div class="col-md-10">
            <input type="text" name="name" value="" class="form-control" placeholder="Company Name" />
        </div>
    </div>

    <div class="form-group divStaff ">
        <label class="col-md-2 control-label">  Date Ended: </label>

        <div class="col-md-10">
            <input type="text" name="name" value="" class="form-control" placeholder="Date Ended" />
        </div>
    </div>

    <div class="form-group divStaff ">
        <label class="col-md-2 control-label"> uni Staff ID: </label>

        <div class="col-md-10">
            <input type="text" name="name" value="" class="form-control" placeholder="uni Staff ID" />
        </div>
    </div>

    <div class="form-group divStudent ">
        <label class="col-md-2 control-label">  Student ID: </label>

        <div class="col-md-10">
            <input type="text" name="name" value="" class="form-control" placeholder="Student ID" />
        </div>
    </div>
    <div class="form-group divStudent ">
        <label class="col-md-2 control-label">  Plan: </label>

        <div class="col-md-10">
            <input type="text" name="name" value="" class="form-control" placeholder="Plan" />
        </div>
    </div>
    <div class="form-group divStudent ">
        <label class="col-md-2 control-label"> GPA: </label>

        <div class="col-md-10">
            <input type="text" name="name" value="" class="form-control" placeholder="GPA" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="/Scripts/jquery-3.4.1.js"></script>
<script>

    $(document).ready(function () {

        multipleUserTypeChange();
    });


    function multipleUserTypeChange() {


        $(".divHeading").slideUp();
        $(".divStudent").slideUp();
        $(".divClient").slideUp();
        $(".divStaff").slideUp();
        $(".divControls").slideUp();
        //alert($("#Role").find("option:selected").text());
        switch ($("#Role").find("option:selected").text()) {
            case "":
                $(".divHeading").slideDown();
                break;

            case "Student":
                $(".divStudent").slideDown();
                $(".divControls").slideDown();
                break;

            case "Client":
                $(".divClient").slideDown();
                break;

            case "Staff":
                $(".divStaff").slideDown();;
                break;



        }
    }


</script>