
@{ViewBag.Title = "Detail";}

<html xmlns="http://www.w3.org/1999/xhtml">
    
@{//Get value from controller: the data from AspNetUsers where has same personID
    var userDetail = ViewBag.getPersonID;
  }

<body>
    <style>
        .div {
            position: relative;
            top: 50px;
        }
    </style>
    <h2>Client Detail</h2>
    <hr />

    <div class="div">
        <dl class="dl-horizontal">
            <dt>
                Client Name:
            </dt>
            <dd>
                @* Get value from AspNetUsers table from database *@
                @userDetail.UserName
            </dd>
            <dt>
                Client Title:
            </dt>
            <dd>
                @userDetail.title
            </dd>
            <dt>
                Client E-mail:
            </dt>
            <dd>
                @userDetail.Email
            </dd>
            <dt>
                Client Phone Number:
            </dt>
            <dd>
                @userDetail.PhoneNumber
            </dd>
            <dt>
                Company Name:
            </dt>
            <dd>
                @* Get value from Clients table from database *@
                @ViewBag.companyName
            </dd>
        </dl>
        <p>
            @* The first is the word of the link, and the second is the name of page which will turn to. *@
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>
</html>

