@model WebApplication4.Models.Clients
<head>
    <style>
        #showBox {
            position:relative;
            top: 50px;
        }
    </style>

</head>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div id="showBox" class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @* These are hidden value that won't show at page *@
    @Html.HiddenFor(model => model.clientID)
    @Html.HiddenFor(model => model.companyName)



    <div class="form-group">
        <label class="col-md-2 control-label">  Email: </label>
        <div class="col-md-10">
            <input type="text" value=@ViewBag.Email name="email" class="col-md-10 form-control" />
            <br />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">  Phone Number: </label>
        <div class="col-md-10">
            @* The ViewBag defined at Controller to get value from AspNetUser table *@
            <input type="text" value=@ViewBag.PhoneNumber name="phoneNumber" class="col-md-10 form-control" />
        </div>
        <br />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />@*//Define the submit button. The submit button sends the form data to the server.*@
        </div>
        <br />
    </div>
    <div>
        @Html.ActionLink("Back to Management page", "Index")
        @*Display the text: Back to List of the connection with the controller index of the current page*@
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*Output the configuration in the bundleconfig.cs script package, and Bundles are defined in the BundleConfig.cs file.*@
}

