@model WebApplication4.Models.Clients
@{
    //var email = (List<WebApplication4.Models.AspNetUsers>)ViewBag.Email;
}
@*<head>
    <script>
        function check() {
            var e = document.getElementById("echeck").value;
            if (e == "") {
                alert("dfghjk,l");
                return false;
            }
        }
    </script>

</head>*@
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Client</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.clientID)
        @Html.HiddenFor(model => model.companyName)



        <div class="form-group">
            <label class="col-md-2 control-label">  Email: </label>
            <div class="col-md-10">
                <input type="text" value=@ViewBag.Email name="email" class="col-md-10 form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">  Phone Number: </label>
            <div class="col-md-10">
                <input type="text" value=@ViewBag.PhoneNumber name="phoneNumber" class="col-md-10 form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>@*//Define the submit button. The submit button sends the form data to the server.*@
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Management page", "Index")
    @*Display the text: Back to List of the connection with the controller index of the current page*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*Output the configuration in the bundleconfig.cs script package, and Bundles are defined in the BundleConfig.cs file.*@
}

