
@model IEnumerable<WebApplication4.Models.ProjectPeopleAllocations>

@{
    ViewBag.Title = "Index";
    var users = (List<WebApplication4.Models.AspNetUsers>)ViewBag.personID;
    var staff = (List<WebApplication4.Models.Staff>)ViewBag.staff;
    var stucourse = ViewBag.stcs;
    var projects = (List<WebApplication4.Models.Projects>)ViewBag.project;
    var pstatus = (List<WebApplication4.Models.ProjectStatus>)ViewBag.pstatus;
    var students = (List<WebApplication4.Models.Students>)ViewBag.stdt;
    var plans = (List<WebApplication4.Models.Plans>)ViewBag.planList;
    var planid = (int)ViewBag.planid;
    var plancs = (List<WebApplication4.Models.PlanCourses>)ViewBag.plancs;
    var course = (List<WebApplication4.Models.Course>)ViewBag.course;
}

<h2>Project Allocation</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<br>
<script src="~/Scripts/jquery-3.4.1.js"></script>


<form action="/ProjectPeopleAllocations/Index" method="post" id="formdd">

    <div class="row">

        <div class="col-md-6">


            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("ddlyear", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("DDLSemester", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="search" />
                </div>
            </div>

            <br />
            <div style="height: 555px; overflow: auto;">
                <table class="table table-hover" id="tableExcel">
                    <tr>
                        <th>
                            Project No.
                        </th>
                        <th>
                            Project Title
                        </th>
                        <th>
                            Staff
                        </th>
                        <th>
                            Students
                        </th>
                    </tr>

                    @foreach (var item in projects)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectID)
                                @{var prodiff = "difficulty" + item.projectID;}
                                <span id="@prodiff" data-diff="@item.difficult">
                                    @if (@item.difficult == "yes")
                                    {
                                        <span>⭐</span>
                                    }

                                </span>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.projectTitle)
                                <div>
                                    <select class="form-control">
                                        @foreach (var psta in pstatus)
                                        {
                                            if (psta.ProjectStatusId == item.projectStatus)
                                            {
                                                <option value="value" selected="selected">@psta.StatusName</option>
                                            }
                                            else
                                            {
                                            }
                                        }
                                    </select>

                                    @foreach (var psta in pstatus)
                                    {
                                        if (psta.ProjectStatusId == item.projectStatus)
                                        {
                                            <div class="kkkk" hidden> @psta.StatusName </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                <div>
                                    <div id="projstaff @item.projectID" ondrop="dropStaff(event)" style="min-height:10px" ondragover="allowDrop(event)">

                                        @{
                                            var staffs = Model.Where(p => p.projectID == item.projectID && p.personRole == "staff").ToList();

                                        }
                                        @foreach (var pstaff in staffs)
                                        {
                                            var staffdd = staff.FirstOrDefault(p => p.staffID == pstaff.personID);
                                            if (staffdd != null)
                                            {
                                                <div id="staff @staffdd.staffID-projstaff @item.projectID" draggable="true" ondragstart="drag(event)"> @staffdd.username</div>
                                                @*<div>@staffdd.username</div>*@
                                            }

                                        }

                                        @*<div>@users.FirstOrDefault(p => p.personID == item.personID).UserName</div>*@
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div>
                                    <div id="div @item.projectID" ondrop="dropStuProject(event)" ondragover="allowDrop(event)" style="min-height:10px">

                                        @{
                                            var prostudents = Model.Where(p => p.projectID == item.projectID && p.personRole == "student").ToList();

                                        }
                                        @foreach (var pstudent in prostudents)
                                        {
                                            var stuinfo = students.FirstOrDefault(p => p.studentID == pstudent.personID);
                                            if (stuinfo != null)
                                            {
                                                var a = "";
                                                var b = "";
                                                var c = "";
                                                var d = "";
                                                var e = "";
                                                var cstu = stucourse;
                                                foreach (var stid in stucourse)
                                                {
                                                    if (stid.ID == stuinfo.studentID)
                                                    {
                                                        cstu = stid;
                                                    }
                                                }
                                                //var cstu = stucourse.FirstOrDefault(csgd => csgd.studentID == stuinfo.studentID);
                                                if (cstu != null)
                                                {
                                                    a = cstu.CPP;
                                                    b = cstu.PF;
                                                    c = cstu.WEB;
                                                    d = cstu.IDIE;
                                                    e = cstu.AgNET;

                                                }

                                                <div id="drag @stuinfo.studentID" data-a="@a" data-b="@b" data-c="@c" data-d="@d" data-e="@e" data-f="@stuinfo.gpa" draggable="true" ondragstart="drag(event)"> @stuinfo.uniUserName</div>

                                            }

                                        }


                                    </div>



                                </div>
                            </td>
                        </tr>
                    }
                </table>
                <div>
                    <button type="button" class="btn btn-primary" onclick="method5('tableExcel')">Export Project</button>
                </div>
            </div>
           
        </div>
        
        <div class="col-md-6">
            <h3>Filter</h3>
            <div class="row">
                <div class="col-md-5">
                    <select class="form-control" id="selopt" name="pop" onchange="selpt(this)">
                        @if (ViewBag.studenthidden != "hidden")
                        {
                            <option value="student" selected>Students</option>
                            <option value="staff">Supervisors</option>
                        }
                        else
                        {
                            <option value="student">Students</option>
                            <option value="staff" selected>Supervisors</option>
                        }

                    </select>
                </div>

                <div class="col-md-5 stud" @ViewBag.studenthidden>

                    <select class=" form-control" name="plan" onchange="sbmt()">
                        @if (planid == 0)
                        {

                            <option label="All Plans" value="0" name="plan" selected="selected">All Plans</option>
                        }
                        else
                        {
                            <option label="All Plans" value="0" name="plan" selected="">All Plans</option>
                        }
                        @foreach (var item in plans)
                        {
                            if (@item.planId == planid)
                            {
                                <option value="@item.planId" selected="selected">@item.planName</option>
                            }
                            else
                            {
                                <option value="@item.planId">@item.planName</option>

                            }

                        }

                    </select>

                    @*<select class=" form-control">
                        <option label="All Plans" value="-1" name="plan" selected="selected">All Plans</option>
                        ViewBag.planList
                    </select>*@
                    @*@Html.DropDownList("planList", null, htmlAttributes: new { @class = "form-control" })*@
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-5 stud" @ViewBag.hidden>


                    <select class="form-control">
                        <option value="all" selected="selected">All GPAs</option>
                        <option value=">0">Between 0.0 and 1.99</option>
                        <option value=">2">Between 2.0 and 2.99</option>
                        <option value=">3">Between 3.0 and 3.99</option>
                        <option value=">4">Between 4.0 and 4.99</option>
                        <option value=">5">Between 5.0 and 5.99</option>
                        <option value=">6">Between 6.0 and 7.0</option>
                        <option value="none">No GPA on record</option>
                    </select>

                </div>

                <div class="col-md-5 ">
                    <input class="form-control" type="text" name="name" value="" placeholder="Search" />
                </div>

            </div>
            <br />
            @*<input type="checkbox" name="name" value="" /> include allocated people*@
            <h3>Sort</h3>
            <div class="row">

                <div class="col-md-5">
                    <select class=" form-control" name="tyt">
                        @if (ViewBag.tyt == "name")
                        {

                            <option label="Name" value="name" selected="selected">Name</option>

                        }
                        else
                        {
                            <option label="Name" value="name">Name</option>
                        }


                        @if (ViewBag.tyt != "gpa")
                        {

                            <option label="GPA" value="gpa">GPA</option>

                        }
                        else
                        {
                            <option label="GPA" value="gpa" selected="selected">GPA</option>
                        }
                        @if (ViewBag.tyt != "105295")
                        {

                            <option label="Software Development with C++" value="105295">Software Development with C++</option>

                        }
                        else
                        {
                            <option label="Software Development with C++" value="105295" selected="selected">Software Development with C++</option>
                        }
                        @if (ViewBag.tyt != "105294")
                        {

                            <option label="Programming Fundamentals" value="105294">Programming Fundamentals</option>

                        }
                        else
                        {
                            <option label="Programming Fundamentals" value="105294" selected="selected">Programming Fundamentals</option>
                        }
                        @if (ViewBag.tyt != "156783")
                        {

                            <option label="Web Development" value="156783">Web Development</option>

                        }
                        else
                        {
                            <option label="Web Development" value="156783" selected="selected">Web Development</option>
                        }
                        @if (ViewBag.tyt != "012540")
                        {

                            <option label="Interface Desgin, Interaction and Experience" value="012540">Interface Desgin, Interaction and Experience</option>

                        }
                        else
                        {
                            <option label="Interface Desgin, Interaction and Experience" value="012540" selected="selected">Interface Desgin, Interaction and Experience</option>
                        }

                        @if (ViewBag.tyt != "105284")
                        {

                            <option label="Agile Development with .NET" value="105284">Agile Development with .NET</option>

                        }
                        else
                        {
                            <option label="Agile Development with .NET" value="105284" selected="selected">Agile Development with .NET</option>
                        }

                    </select>
                </div>


                <div class="col-md-5">
                    <div class="btn btn-primary" onclick="changeasc()">ASC </div>
                    <div class="btn btn-primary" onclick="changedesc()">DESC </div>

                </div>
                <input type="text" id="namedc" name="namedesc" hidden />
            </div>

            <br />
            <div style="height: 555px; overflow: auto;">

                <table class="table table-hover stud" @ViewBag.studenthidden>
                    <tbody id="studenttable" ondrop="dropstu(event)" ondragover="allowDrop(event)">
                        <tr>

                            <th>
                                Name
                            </th>
                            @if (planid == 0)
                            {
                                <th>
                                    PF
                                </th>
                                <th>
                                    SDC++
                                </th>

                                <th>
                                    WEB
                                </th>
                                <th>
                                    IDIE
                                </th>
                                <th>
                                    AgNET
                                </th>
                            }

                            @foreach (var findcs in plancs)
                            {
                                if (findcs.planId == planid)
                                {
                                    var selecrcourse = course.FirstOrDefault(p => p.courseID == findcs.courseId).courseName;
                                    string simpleName = "";
                                    if (selecrcourse == "Software Development with C++")
                                    {
                                        simpleName = "SDC++";
                                    }
                                    else if (selecrcourse == "Programming Fundamentals")
                                    {
                                        simpleName = "PF";
                                    }
                                    else if (selecrcourse == "Web Development")
                                    {
                                        simpleName = "WEB";
                                    }
                                    else if (selecrcourse == "Interface Desgin, Interaction and Experience")
                                    {
                                        simpleName = "IDIE";
                                    }
                                    else if (selecrcourse == "Agile Development with .NET")
                                    {
                                        simpleName = "AgNet";
                                    }
                                    <th>
                                        @simpleName
                                    </th>
                                }
                            }


                            <th>
                                GPA
                            </th>


                        </tr>

                        @foreach (var item in stucourse)
                        {

                            var cstu = item;
                            var a = cstu.CPP;
                            var b = cstu.PF;
                            var c = cstu.WEB;
                            var d = cstu.IDIE;
                            var e = cstu.AgNET;

                            var CPPtoStr = cstu.CPPtoStr;
                            var PFtoStr = cstu.PFtoStr;
                            var WEBtoStr = cstu.WEBtoStr;
                            var IDIEtoStr = cstu.IDIEtoStr;
                            var AgNETtoStr = cstu.AgNETtoStr;

                            <tr id="tdrag @item.ID">
                                <td hidden>
                                    <div> @item.Name</div>
                                </td>
                                @if (planid == 0)
                                {
                                    <td id="drag @item.ID" data-a="@a" data-b="@b" data-c="@c" data-d="@d" data-e="@e" data-f="@item.Gpa" draggable="true" ondragstart="drag(event)">
                                        @item.Name
                                    </td>
                                    <td @ViewBag.planBHidden>
                                        @PFtoStr
                                    </td>

                                    <td @ViewBag.planBHidden>
                                        @CPPtoStr
                                    </td>

                                    <td @ViewBag.planBHidden>
                                        @WEBtoStr
                                    </td>

                                    <td @ViewBag.planAHidden>
                                        @IDIEtoStr
                                    </td>

                                    <td @ViewBag.planAHidden>
                                        @AgNETtoStr
                                    </td>

                                    <td>
                                        @item.Gpa
                                    </td>
                                }
                                else if (item.Planid == planid)
                                {
                                    <td id="drag @item.ID" data-a="@a" data-b="@b" data-c="@c" data-d="@d" data-e="@e" data-f="@item.Gpa" draggable="true" ondragstart="drag(event)">
                                        @item.Name
                                    </td>
                                    <td @ViewBag.planBHidden>
                                        @PFtoStr
                                    </td>

                                    <td @ViewBag.planBHidden>
                                        @CPPtoStr
                                    </td>

                                    <td @ViewBag.planBHidden>
                                        @WEBtoStr
                                    </td>

                                    <td @ViewBag.planAHidden>
                                        @IDIEtoStr
                                    </td>

                                    <td @ViewBag.planAHidden>
                                        @AgNETtoStr
                                    </td>

                                    <td>
                                        @item.Gpa
                                    </td>
                                }
                            </tr>



                        }
                    </tbody>

                </table>

                <table class="table table-hover staff" @ViewBag.staffHidden>
                    <tbody id="stafftable" ondrop="dropTablestaff(event)" ondragover="allowDrop(event)">
                        <tr>
                            <th>
                                Name
                            </th>

                            <th>
                                Allocated projects
                            </th>

                            <th>
                                Difficulty
                            </th>
                        </tr>

                        @foreach (var item in staff)
                        {
                            <tr id="istaff @item.staffID">
                                <td>
                                    <div id="staff @item.staffID" draggable="true" ondragstart="drag(event)"> @item.username</div>
                                </td>
                                <td>
                                    @{var tutssdas = "pro" + item.staffID;}
                                    <div id="@tutssdas">@item.projnum</div>
                                </td>
                                <td>
                                    @{var tutss = "diff" + item.staffID;}
                                    <div id="@tutss">@item.diffnum</div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>

    </div>

</form>


<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }



    function selpt(params) {

        if (params.value != 'staff') {
            var strs = document.getElementsByClassName("stud");
            for (var i = 0; i < strs.length; i++) { strs[i].removeAttribute("hidden"); }; var strp = document.getElementsByClassName("staff");
            for (var i = 0; i < strp.length; i++) { strp[i].setAttribute("hidden", "true"); };

        } else {
            var strs = document.getElementsByClassName("stud"); for (var i = 0; i < strs.length; i++) { strs[i].setAttribute("hidden", "hidden"); };

            var strp = document.getElementsByClassName("staff"); for (var i = 0; i < strp.length; i++) { strp[i].removeAttribute("hidden"); };
        }


    }
    function dropTablestaff(ev) {
        ev.preventDefault();


        var data = ev.dataTransfer.getData("Text");

        var idstr = ev.currentTarget.getAttribute("id");

        if (document.getElementById(idstr).innerHTML.includes(data)) {
            return;
        }

        if (data.includes('staff') && idstr.includes('stafftable')) {

            var dp = data.split("-");
            var projectID = dp[1].split(" ")[1];
            var staffID = dp[0].split(" ")[1];
            document.getElementById("stafftable").querySelector("#pro" + staffID).textContent = Number(document.getElementById("stafftable").querySelector("#pro" + staffID).textContent) - 1;

            if (document.getElementById("tableExcel").querySelector("#difficulty" + projectID).getAttribute("data-diff") == "yes") {
                document.getElementById("stafftable").querySelector("#diff" + staffID).textContent = Number(document.getElementById("stafftable").querySelector("#diff" + staffID).textContent) - 1;
            }
            $.get("/ProjectPeopleAllocations/deletStaff", { projectId: projectID, staffId: staffID })


            document.getElementById(data).remove();

        }


    }
    function dropStaff(ev) {
        ev.preventDefault();
        var idstr = ev.currentTarget.getAttribute("id");


        var data = ev.dataTransfer.getData("Text");

        if (data.includes('staff') && idstr.includes('projstaff')) {

            var hasv = ev.currentTarget.innerHTML;

            if (!hasv.includes(data)) {
                var jj = document.getElementById(data).cloneNode("true");
                jj.setAttribute('id', data + '-' + idstr);
                ev.currentTarget.appendChild(jj);

                var projectID = idstr.split(" ")[1];
                var staffID = data.split(" ")[1];

                document.getElementById("stafftable").querySelector("#pro" + staffID).textContent = Number(document.getElementById("stafftable").querySelector("#pro" + staffID).textContent) + 1;

                if (document.getElementById("tableExcel").querySelector("#difficulty" + projectID).getAttribute("data-diff") == "yes") {
                    document.getElementById("stafftable").querySelector("#diff" + staffID).textContent = Number(document.getElementById("stafftable").querySelector("#diff" + staffID).textContent) + 1;
                }

                $.get("/ProjectPeopleAllocations/AddStaff", { projectId: projectID, staffId: staffID })
            }




        }


    }

    function dropStuProject(ev) {
        ev.preventDefault();
        var idstr = ev.currentTarget.getAttribute("id");

        var data = ev.dataTransfer.getData("Text");

        if (data.includes('drag') && idstr.includes('div')) {
            ev.currentTarget.appendChild(document.getElementById(data));

            var stutr = document.getElementById("t" + data);
            stutr.remove();


            var projectID = idstr.split(" ")[1];
            var studentID = data.split(" ")[1];

            $.get("/ProjectPeopleAllocations/AddStudent", { projectId: projectID, studentId: studentID })
        }
    }
    function dropstu(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");
        var tableid = ev.currentTarget.getAttribute("id");
        if (document.getElementById(tableid).innerHTML.includes(data)) {
            return;
        }




        if (data.includes('drag') && tableid.includes('studenttable')) {

            var studid = document.getElementById(data);

            var idstr = document.getElementById(data).parentElement.getAttribute('id');

            var tabledd = document.getElementById('studenttable');

            var ca = studid.getAttribute("data-a");
            var cb = studid.getAttribute("data-b");
            var cc = studid.getAttribute("data-c");
            var cd = studid.getAttribute("data-d");
            var ce = studid.getAttribute("data-e");
            var cf = studid.getAttribute("data-f");
            var trtd = '<tr><td> ' + studid.outerHTML + '</td><td>' + ca + '</td><td>' + cb + '</td><td>' + cc + '</td><td>' + cd + '</td><td>' + ce + '</td><td>' + cf + '</td></tr>'

            studid.remove();
            tabledd.innerHTML += trtd;

            var projectID = idstr.split(" ")[1];
            var studentID = data.split(" ")[1];
            sbmt();
            $.get("/ProjectPeopleAllocations/deletStudent", { projectId: projectID, studentId: studentID })


        }



    }
    function changedesc() {
        document.getElementById('namedc').value = "desc";
        document.getElementById("formdd").submit();
    }
    function changeasc() {
        document.getElementById('namedc').value = "asc";
        document.getElementById("formdd").submit();
    }
    function sbmt() {
        
        document.getElementById("formdd").submit();
    }

    //Export Excel function
    //Considering that different users may use different browsers,
    //a solution to the compatibility problem has been written in order to
    //prevent some browsers from not supporting the project to run.
    function getExplorer() {
        var explorer = window.navigator.userAgent;
        //ie
        if (explorer.indexOf("MSIE") >= 0) {
            return 'ie';
        }
        //firefox
        else if (explorer.indexOf("Firefox") >= 0) {
            return 'Firefox';
        }
        //Chrome
        else if (explorer.indexOf("Chrome") >= 0) {
            return 'Chrome';
        }
        //Opera
        else if (explorer.indexOf("Opera") >= 0) {
            return 'Opera';
        }
        //Safari
        else if (explorer.indexOf("Safari") >= 0) {
            return 'Safari';
        }
    }

    function method5(tableid) {
        if (getExplorer() == 'ie') {
            var curTbl = document.getElementById(tableid);
            var oXL = new ActiveXObject("Excel.Application");
            var oWB = oXL.Workbooks.Add();
            var xlsheet = oWB.Worksheets(1);
            var sel = document.body.createTextRange();
            sel.moveToElementText(curTbl);
            sel.select();
            sel.execCommand("Copy");
            xlsheet.Paste();
            oXL.Visible = true;

            try {
                var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");
            } catch (e) {
                print("Nested catch caught " + e);
            } finally {
                oWB.SaveAs(fname);
                oWB.Close(savechanges = false);
                oXL.Quit();
                oXL = null;
                idTmr = window.setInterval("Cleanup();", 1);
            }

        }
        else {
            tableToExcel(tableid)
        }
    }
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html><head><meta charset="UTF-8"></head><body><table>{table}</table></body></html>',
            base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
            format = function (s, c) {
                return s.replace(/{(\w+)}/g,
                    function (m, p) { return c[p]; })
            }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var huh = table.cloneNode(true);

            var bubss = huh.getElementsByTagName("select");
            for (var i = 0; i < bubss.length;) {
                bubss[i].remove();
            }

            var ctx = { worksheet: name || 'Worksheet', table: huh.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()

</script>