
@model IEnumerable<WebApplication4.Models.ProjectPeopleAllocations>

@{
    ViewBag.Title = "Index";
    var users = (List<WebApplication4.Models.AspNetUsers>)ViewBag.personID;
    var staff = (List<WebApplication4.Models.Staff>)ViewBag.staff;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<br>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<!--<script>
    $().ready(function () {
        var op = $("#StdORStff option:selected");
        alert($('#StdORStff option:selected').html())
    });

    $(function () {
        var val = $('select option:select').val();
        var sel = document.getElementById("StdORStff");
        var $slct = $("#StdORStff")
        var $std = $("#std")
        var $stff = $("#stff")


            if ($("#std").attr.is("selected") == true) {
                alert("1111");
            } else if ($("#stff").attr.is("selected") == true) {
                alert("2222");
            }




    })


</script>
<style type="text/css">
    .red{
        color:red;
        width:50px;
        height:50px;
    }
</style>
<div style="color:red;
        width:50px;
        height:50px;">

</div>-->

<form action="/ProjectPeopleAllocations/Index" method="post">

    <div class="row">

        <div class="col-md-6">


            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("ddlyear", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("DDLSemester", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="serch" />
                </div>
            </div>

            <br />
            <div style="height: 555px; overflow: auto;">

                <table class="table table-hover">
                    <tr>
                        <th>
                            Project No - Title
                        </th>
                        <th>
                            Staff
                        </th>
                        <th>
                            Students
                        </th>


                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Projects.projectTitle)
                            </td>



                            <td>
                                <div>
                                    <div id="staff @item.personID" ondrop="drop(event)" style="min-height:10px" ondragover="allowDrop(event)">



                                        @*<div>@users.FirstOrDefault(p => p.personID == item.personID).UserName</div>*@
                                    </div>

                                </div>
                            </td>
                            <td>
                                <div>
                                    <div id="div @item.personID" ondrop="drop(event)" ondragover="allowDrop(event)" style="min-height:10px">
                                        <div>@users.FirstOrDefault(p => p.personID == item.personID).UserName</div>
                                    </div>



                                </div>
                            </td>
                            <td>

                                <!--    @Html.ActionLink("Edit", "Edit", new { projectID = item.projectID, personID = item.personID }, new { @class = "btn btn-primary" })
                                                       |
                                @Html.ActionLink("Details", "Details", new { projectID = item.projectID, personID = item.personID }, new { @class = "btn btn-primary" }) |
                                     @Html.ActionLink("Delete", "Delete", new { projectID = item.projectID, personID = item.personID }, new { @class = "btn btn-primary" })-->

                            </td>
                        </tr>
                    }

                </table>
            </div>

        </div>
        <div class="col-md-6">
            <h3>Filter</h3>
            <div class="row">
                <div class="col-md-5">
                    <select class="form-control" id="selopt" name="pop" onchange="selpt(this)">
                        @if (ViewBag.pop == "student")
                        {
                            <option value="student" selected>Students</option>
                            <option value="staff">Supervisors</option>
                        }
                        else
                        {
                            <option value="student">Students</option>
                            <option value="staff" selected>Supervisors</option>
                        }

                    </select>
                </div>

                <div class="col-md-5 stud" @ViewBag.hidden>
                    <select class=" form-control">
                        <option label="All Plans" value="-1" selected="selected">All Plans</option>
                        <option label="planA" value="1">planA</option>
                        <option label="planB" value="2">planB</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-5 stud" @ViewBag.hidden>


                    <select class="form-control">
                        <option value="all" selected="selected">All GPAs</option>
                        <option value=">0">Between 0.0 and 1.99</option>
                        <option value=">2">Between 2.0 and 2.99</option>
                        <option value=">3">Between 3.0 and 3.99</option>
                        <option value=">4">Between 4.0 and 4.99</option>
                        <option value=">5">Between 5.0 and 5.99</option>
                        <option value=">6">Between 6.0 and 7.0</option>
                        <option value="none">No GPA on record</option>
                    </select>

                </div>

                <div class="col-md-5 ">
                    <input class="form-control" type="text" name="name" value="" placeholder="Search" />
                </div>

            </div>
            <br />
            <input type="checkbox" name="name" value="" /> include allocated people
            <h3>Sort</h3>
            <div class="row">

                <div class="col-md-5">
                    <select class=" form-control" name="tyt">
                        <option value="value">
                        <option label="Name" value="fullName" selected="selected">Name</option>
                        <option label="GPA" value="gpa">GPA</option>
                        <option label="Software Development with C++" value="105295 ">Software Development with C++</option>
                        <option label="Programming Fundamentals" value="105294">Programming Fundamentals</option>
                        <option label="Web Development" value="156783">Web Development</option>
                        <option label="Interface Desgin, Interaction and Experience" value="012540">Interface Desgin, Interaction and Experience</option>
                        <option label="Agile Development with .NET" value="105284">Agile Development with .NET</option>
                    </select>
                </div>

                <input type="text" name="namedesc" value="@ViewBag.namedesc" hidden />
                <div class="col-md-5">
                    <input type="submit" class="btn btn-primary" value="ASC" />
                    <input type="submit" class="btn btn-primary" value="DESC" />

                </div>

            </div>

            <br />
            <div style="height: 555px; overflow: auto;">

                <table class="table table-hover stud" @ViewBag.hidden>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            SDC++
                        </th>
                        <th>
                            PF
                        </th>

                        <th>
                            WEB
                        </th>
                        <th>
                            IDIE
                        </th>
                        <th>
                            AgNET
                        </th>
                        <th>
                            GPA
                        </th>
                    </tr>

                    @foreach (var item in ViewBag.stdt)
                    {
                        <tr id="idrag @item.studentID">
                            <td>
                                <div id="drag @item.studentID" draggable="true" ondragstart="drag(event)"> @item.uniUserName</div>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>

                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                @item.gpa
                            </td>
                        </tr>
                    }

                </table>

                <table class="table table-hover staff" @ViewBag.staff>
                    <tr>
                        <th>
                            Name
                        </th>

                        <th>
                            Allocated projects
                        </th>
                    </tr>

                    @foreach (var item in staff)
                    {
                        <tr id="istaff @item.staffID">
                            <td>
                                <div id="staff @item.staffID" draggable="true" ondragstart="drag(event)"> @item.username</div>
                            </td>

                            <td>
                                0
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>

    </div>

</form>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault(); var idstr = ev.currentTarget.getAttribute("id"); var po = document.getElementById("selopt").value; var data = ev.dataTransfer.getData("Text");
        if (po == 'student' && data.includes('drag') && idstr.includes('div')) {
            var str = document.getElementById("i" + data); str.setAttribute("hidden", "hidden");; ev.target.appendChild(document.getElementById(data));
        }
        if (po == 'staff' && data.includes('staff') && idstr.includes('staff')) {
            var str = document.getElementById("i" + data); str.setAttribute("hidden", "hidden");; ev.target.appendChild(document.getElementById(data));
        }


    }

    function selpt(params) {

        if (params.value != 'staff') {
            var strs = document.getElementsByClassName("stud");
            for (var i = 0; i < strs.length; i++) { strs[i].removeAttribute("hidden"); }; var strp = document.getElementsByClassName("staff");
            for (var i = 0; i < strp.length; i++) { strp[i].setAttribute("hidden", "true"); };

        } else {
            var strs = document.getElementsByClassName("stud"); for (var i = 0; i < strs.length; i++) { strs[i].setAttribute("hidden", "hidden"); };

            var strp = document.getElementsByClassName("staff"); for (var i = 0; i < strp.length; i++) { strp[i].removeAttribute("hidden"); };
        }


    }
</script>