
@model IEnumerable<WebApplication4.Models.ProjectPeopleAllocations>

@{
    ViewBag.Title = "Index";
    var users = (List<WebApplication4.Models.AspNetUsers>)ViewBag.personID;
    var staff = (List<WebApplication4.Models.Staff>)ViewBag.staff;
    var stucourse = ViewBag.stcs;
    var projects = (List<WebApplication4.Models.Projects>)ViewBag.project;
    var pstatus = (List<WebApplication4.Models.ProjectStatus>)ViewBag.pstatus;
    var students = (List<WebApplication4.Models.Students>)ViewBag.stdt;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<br>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<!--<script>
    $().ready(function () {
        var op = $("#StdORStff option:selected");
        alert($('#StdORStff option:selected').html())
    });

    $(function () {
        var val = $('select option:select').val();
        var sel = document.getElementById("StdORStff");
        var $slct = $("#StdORStff")
        var $std = $("#std")
        var $stff = $("#stff")


            if ($("#std").attr.is("selected") == true) {
                alert("1111");
            } else if ($("#stff").attr.is("selected") == true) {
                alert("2222");
            }




    })


</script>
<style type="text/css">
    .red{
        color:red;
        width:50px;
        height:50px;
    }
</style>
<div style="color:red;
        width:50px;
        height:50px;">

</div>-->

<form action="/ProjectPeopleAllocations/Index" method="post" id="formdd">

    <div class="row">

        <div class="col-md-6">


            <div class="row">
                <div class="col-md-4">
                    @Html.DropDownList("ddlyear", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DropDownList("DDLSemester", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="search" />
                </div>
            </div>

            <br />
            <div style="height: 555px; overflow: auto;">
                <table class="table table-hover" id="tableExcel">
                    <tr>
                        <th>
                            Project No.
                        </th>
                        <th>
                            Project Title
                        </th>
                        <th>
                            Staff
                        </th>
                        <th>
                            Students
                        </th>
                    </tr>

                    @foreach (var item in projects)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectID)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.projectTitle)
                                <div>
                                    <select class="form-control">
                                        @foreach (var psta in pstatus)
                                        {
                                            if (psta.ProjectStatusId == item.projectStatus)
                                            {
                                                <option value="value" selected="selected">@psta.StatusName</option>
                                            }
                                            else
                                            {
                                            }
                                        }
                                    </select>

                                    @foreach (var psta in pstatus)
                                    {
                                        if (psta.ProjectStatusId == item.projectStatus)
                                        {
                                            <div class="kkkk" hidden> @psta.StatusName </div>
                                        }
                                    }
                                </div>
                            </td>

                        </tr>
                     }
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <h3>Filter</h3>
            <div class="row">
                <div class="col-md-5">
                    <select class="form-control" id="selopt" name="pop" onchange="selpt(this)">
                        @if (ViewBag.pop == "student")
                        {
                            <option value="student" selected>Students</option>
                            <option value="staff">Supervisors</option>
                        }
                        else
                        {
                            <option value="student">Students</option>
                            <option value="staff" selected>Supervisors</option>
                        }

                    </select>
                </div>

                <div class="col-md-5 stud" @ViewBag.hidden>
                    <select class=" form-control" name="StudyPlan">
                        <option label="All Plans" value="-1" selected="selected">All Plans</option>
                        <option label="planA" value="1">planA</option>
                        <option label="planB" value="2">planB</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-5 stud" @ViewBag.hidden>


                    <select class="form-control">
                        <option value="all" selected="selected">All GPAs</option>
                        <option value=">0">Between 0.0 and 1.99</option>
                        <option value=">2">Between 2.0 and 2.99</option>
                        <option value=">3">Between 3.0 and 3.99</option>
                        <option value=">4">Between 4.0 and 4.99</option>
                        <option value=">5">Between 5.0 and 5.99</option>
                        <option value=">6">Between 6.0 and 7.0</option>
                        <option value="none">No GPA on record</option>
                    </select>

                </div>

                <div class="col-md-5 ">
                    <input class="form-control" type="text" name="name" value="" placeholder="Search" />
                </div>

            </div>
            <br />
            @*<input type="checkbox" name="name" value="" /> include allocated people*@
            <h3>Sort</h3>
            <div class="row">

                <div class="col-md-5">
                    <select class=" form-control" name="tyt">
                        @if (ViewBag.tyt == "name")
                        {

                            <option label="Name" value="name" selected="selected">Name</option>

                        }
                        else
                        {
                            <option label="Name" value="name">Name</option>
                        }


                        @if (ViewBag.tyt != "gpa")
                        {

                            <option label="GPA" value="gpa">GPA</option>

                        }
                        else
                        {
                            <option label="GPA" value="gpa" selected="selected">GPA</option>
                        }
                        @if (ViewBag.tyt != "105295")
                        {

                            <option label="Software Development with C++" value="105295">Software Development with C++</option>

                        }
                        else
                        {
                            <option label="Software Development with C++" value="105295" selected="selected">Software Development with C++</option>
                        }
                        @if (ViewBag.tyt != "105294")
                        {

                            <option label="Programming Fundamentals" value="105294">Programming Fundamentals</option>

                        }
                        else
                        {
                            <option label="Programming Fundamentals" value="105294" selected="selected">Programming Fundamentals</option>
                        }
                        @if (ViewBag.tyt != "156783")
                        {

                            <option label="Web Development" value="156783">Web Development</option>

                        }
                        else
                        {
                            <option label="Web Development" value="156783" selected="selected">Web Development</option>
                        }
                        @if (ViewBag.tyt != "012540")
                        {

                            <option label="Interface Desgin, Interaction and Experience" value="012540">Interface Desgin, Interaction and Experience</option>

                        }
                        else
                        {
                            <option label="Interface Desgin, Interaction and Experience" value="012540" selected="selected">Interface Desgin, Interaction and Experience</option>
                        }

                        @if (ViewBag.tyt != "105284")
                        {

                            <option label="Agile Development with .NET" value="105284">Agile Development with .NET</option>

                        }
                        else
                        {
                            <option label="Agile Development with .NET" value="105284" selected="selected">Agile Development with .NET</option>
                        }

                    </select>
                </div>


                <div class="col-md-5">
                    <div class="btn btn-primary" onclick="changeasc()">ASC </div>
                    <div class="btn btn-primary" onclick="changedesc()">DESC </div>

                </div>
                <input type="text" id ="namedc" name="namedesc" hidden />
            </div>

            <br />
            <div style="height: 555px; overflow: auto;">

                <table class="table table-hover stud" @ViewBag.studenthidden>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            SDC++
                        </th>
                        <th>
                            PF
                        </th>

                        <th>
                            WEB
                        </th>
                        <th>
                            IDIE
                        </th>
                        <th>
                            AgNET
                        </th>
                        <th>
                            GPA
                        </th>
                    </tr>

                    @foreach (var item in stucourse)
                    {

                        var cstu = item;
                        var a = cstu.CPP;
                        var b = cstu.PF;
                        var c = cstu.WEB;
                        var d = cstu.IDIE;
                        var e = cstu.AgNET;


                        <tr id="tdrag @item.ID">
                            <td>
                                <div id="drag @item.ID" data-a="@a" data-b="@b" data-c="@c" data-d="@d" data-e="@e" data-f="@item.Gpa" draggable="true" ondragstart="drag(event)"> @item.Name</div>
                            </td>

                            <td>
                                @{


                                    var gradeCPP = "";
                                    if (Convert.ToInt32(a) == 1)
                                    {
                                        gradeCPP = "HD";
                                    }
                                    else if (Convert.ToInt32(a) == 2)
                                    {
                                        gradeCPP = "D";
                                    }
                                    else if (Convert.ToInt32(a) == 3)
                                    {
                                        gradeCPP = "C";
                                    }
                                    else if (Convert.ToInt32(a) == 4)
                                    {
                                        gradeCPP = "P1";
                                    }
                                    else if (Convert.ToInt32(a) == 5)
                                    {
                                        gradeCPP = "P2";
                                    }
                                    else if (Convert.ToInt32(a) == 6)
                                    {
                                        gradeCPP = "F1";
                                    }
                                    else if (Convert.ToInt32(a) == 7)
                                    {
                                        gradeCPP = "F2";
                                    }
                                    @gradeCPP




                                }

                            </td>

                            <td>
                                @{


                                    var gradePF = "";
                                    if (Convert.ToInt32(@b) == 1)
                                    {
                                        gradePF = "HD";
                                    }
                                    else if (Convert.ToInt32(@b) == 2)
                                    {
                                        gradePF = "D";
                                    }
                                    else if (Convert.ToInt32(@b) == 3)
                                    {
                                        gradePF = "C";
                                    }
                                    else if (Convert.ToInt32(@b) == 4)
                                    {
                                        gradePF = "P1";
                                    }
                                    else if (Convert.ToInt32(@b) == 5)
                                    {
                                        gradePF = "P2";
                                    }
                                    else if (Convert.ToInt32(@b) == 6)
                                    {
                                        gradePF = "F1";
                                    }
                                    else if (Convert.ToInt32(@b) == 7)
                                    {
                                        gradePF = "F2";
                                    }
                                    @gradePF;




                                }

                            </td>

                            <td>

                                @{


                                    var gradeWEB = "";
                                    if (Convert.ToInt32(c) == 1)
                                    {
                                        gradeWEB = "HD";
                                    }
                                    else if (Convert.ToInt32(c) == 2)
                                    {
                                        gradeWEB = "D";
                                    }
                                    else if (Convert.ToInt32(c) == 3)
                                    {
                                        gradeWEB = "C";
                                    }
                                    else if (Convert.ToInt32(c) == 4)
                                    {
                                        gradeWEB = "P1";
                                    }
                                    else if (Convert.ToInt32(c) == 5)
                                    {
                                        gradeWEB = "P2";
                                    }
                                    else if (Convert.ToInt32(c) == 6)
                                    {
                                        gradeWEB = "F1";
                                    }
                                    else if (Convert.ToInt32(c) == 7)
                                    {
                                        gradeWEB = "F2";
                                    }
                                    @gradeWEB
                                }

                            </td>

                            <td>
                                @{


                                    var gradeIDIE = "";
                                    if (Convert.ToInt32(d) == 1)
                                    {
                                        gradeIDIE = "HD";
                                    }
                                    else if (Convert.ToInt32(d) == 2)
                                    {
                                        gradeIDIE = "D";
                                    }
                                    else if (Convert.ToInt32(d) == 3)
                                    {
                                        gradeIDIE = "C";
                                    }
                                    else if (Convert.ToInt32(d) == 4)
                                    {
                                        gradeIDIE = "P1";
                                    }
                                    else if (Convert.ToInt32(d) == 5)
                                    {
                                        gradeIDIE = "P2";
                                    }
                                    else if (Convert.ToInt32(d) == 6)
                                    {
                                        gradeIDIE = "F1";
                                    }
                                    else if (Convert.ToInt32(d) == 7)
                                    {
                                        gradeIDIE = "F2";
                                    }
                                    @gradeIDIE
                                }

                            </td>

                            <td>

                                @{


                                    var gradeAgNET = "";
                                    if (Convert.ToInt32(e) == 1)
                                    {
                                        gradeAgNET = "HD";
                                    }
                                    else if (Convert.ToInt32(e) == 2)
                                    {
                                        gradeAgNET = "D";
                                    }
                                    else if (Convert.ToInt32(e) == 3)
                                    {
                                        gradeAgNET = "C";
                                    }
                                    else if (Convert.ToInt32(e) == 4)
                                    {
                                        gradeAgNET = "P1";
                                    }
                                    else if (Convert.ToInt32(e) == 5)
                                    {
                                        gradeAgNET = "P2";
                                    }
                                    else if (Convert.ToInt32(e) == 6)
                                    {
                                        gradeAgNET = "F1";
                                    }
                                    else if (Convert.ToInt32(e) == 7)
                                    {
                                        gradeAgNET = "F2";
                                    }
                                    @gradeAgNET
                                }

                            </td>

                            <td>
                                @item.Gpa
                            </td>
                        </tr>



                    }

                </table>

                <table class="table table-hover staff" @ViewBag.staffHidden>
                    <tr>
                        <th>
                            Name
                        </th>

                        <th>
                            Allocated projects
                        </th>
                    </tr>

                    @foreach (var item in staff)
                    {
                        <tr id="istaff @item.staffID">
                            <td>
                                <div id="staff @item.staffID" draggable="true" ondragstart="drag(event)"> @item.username</div>
                            </td>

                            <td>
                                0
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>

    </div>

</form>

<div>
    <button type="button" class="btn btn-primary" onclick="method5('tableExcel')">Export Project</button>
</div>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("Text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault(); var idstr = ev.currentTarget.getAttribute("id"); var po = document.getElementById("selopt").value; var data = ev.dataTransfer.getData("Text");
        if (po == 'student' && data.includes('drag') && idstr.includes('div')) {
            var str = document.getElementById("i" + data); str.setAttribute("hidden", "hidden");; ev.target.appendChild(document.getElementById(data));
        }
        if (po == 'staff' && data.includes('staff') && idstr.includes('staff')) {
            var str = document.getElementById("i" + data); str.setAttribute("hidden", "hidden");; ev.target.appendChild(document.getElementById(data));
        }


    }

    function selpt(params) {

        if (params.value != 'staff') {
            var strs = document.getElementsByClassName("stud");
            for (var i = 0; i < strs.length; i++) { strs[i].removeAttribute("hidden"); }; var strp = document.getElementsByClassName("staff");
            for (var i = 0; i < strp.length; i++) { strp[i].setAttribute("hidden", "true"); };

        } else {
            var strs = document.getElementsByClassName("stud"); for (var i = 0; i < strs.length; i++) { strs[i].setAttribute("hidden", "hidden"); };

            var strp = document.getElementsByClassName("staff"); for (var i = 0; i < strp.length; i++) { strp[i].removeAttribute("hidden"); };
        }


    }

    function changedesc() {
        document.getElementById('namedc').value = "desc";
        document.getElementById("formdd").submit();
    }
    function changeasc() {
        document.getElementById('namedc').value = "asc";
        document.getElementById("formdd").submit();
    }

    //Export Excel function
    //Considering that different users may use different browsers, 
    //a solution to the compatibility problem has been written in order to 
    //prevent some browsers from not supporting the project to run.
    function getExplorer() {
        var explorer = window.navigator.userAgent;
        //ie
        if (explorer.indexOf("MSIE") >= 0) {
            return 'ie';
        }
        //firefox
        else if (explorer.indexOf("Firefox") >= 0) {
            return 'Firefox';
        }
        //Chrome
        else if (explorer.indexOf("Chrome") >= 0) {
            return 'Chrome';
        }
        //Opera
        else if (explorer.indexOf("Opera") >= 0) {
            return 'Opera';
        }
        //Safari
        else if (explorer.indexOf("Safari") >= 0) {
            return 'Safari';
        }
    }

    function method5(tableid) {
        if (getExplorer() == 'ie') {
            var curTbl = document.getElementById(tableid);
            var oXL = new ActiveXObject("Excel.Application");
            var oWB = oXL.Workbooks.Add();
            var xlsheet = oWB.Worksheets(1);
            var sel = document.body.createTextRange();
            sel.moveToElementText(curTbl);
            sel.select();
            sel.execCommand("Copy");
            xlsheet.Paste();
            oXL.Visible = true;

            try {
                var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");
            } catch (e) {
                print("Nested catch caught " + e);
            } finally {
                oWB.SaveAs(fname);
                oWB.Close(savechanges = false);
                oXL.Quit();
                oXL = null;
                idTmr = window.setInterval("Cleanup();", 1);
            }

        }
        else {
            tableToExcel(tableid)
        }
    }
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html><head><meta charset="UTF-8"></head><body><table>{table}</table></body></html>',
            base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
            format = function (s, c) {
                return s.replace(/{(\w+)}/g,
                    function (m, p) { return c[p]; })
            }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var huh = table.cloneNode(true);

            var bubss = huh.getElementsByTagName("select");
            for (var i = 0; i < bubss.length;) {
                bubss[i].remove();
            }

            var ctx = { worksheet: name || 'Worksheet', table: huh.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()        
   
</script>