    @{ 
        var staff = (List<WebApplication4.Models.Staff>)ViewBag.staff;

    }

<div>
    <table class="table table-hover staff" @ViewBag.staffHidden>
        <thead style="display:block">
            <tr style="display: table; width: 100%; table-layout: fixed;">
                <th>
                    Name
                </th>

                <th>
                    Allocated projects
                </th>

                <th>
                    Difficulty
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody  style="position:absolute; display:block;top:38px;bottom:0px;left:0px;right:0px; overflow-y:scroll; overflow-x: hidden;"
               id="stafftable" ondrop="dropTablestaff(event)" ondragover="allowDrop(event)">
            @*to display staff's list*@
            @foreach (var item in staff)
            {
                <tr id="istaff @item.staffID"
                     style="display: table; width: 100%; table-layout: fixed;">
                    <td>
                        <div id="staff @item.staffID" draggable="true" ondragstart="drag(event)"> @item.username</div>
                    </td>
                    <td>
                        @{var tutssdas = "pro" + item.staffID;}
                        <div id="@tutssdas">@item.projnum</div>
                    </td>
                    <td>
                        @{var tutss = "diff" + item.staffID;}
                        <div id="@tutss">@item.diffnum</div>
                    </td>
                    <td>
                        <a onclick="sbmtEdit(@item.staffID)">Edit</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>