
@model IEnumerable<WebApplication4.Models.PlanCourses>
@{
    ViewBag.Title = "Index";
    var plans = (List<WebApplication4.Models.Plans>)ViewBag.plans;
    var course = (List<WebApplication4.Models.Course>)ViewBag.course;

}




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #Left {
            position: absolute;
            left: 5%;
            right: 32%;
            bottom: 10%;
            top: 70px;
            overflow: hidden;
        }

        #Right {
            position: absolute;
            right: 5%;
            left: 72%;
            bottom: 10%;
            top: 70px;
            overflow: auto;
        }

        #delete {
            position: fixed;
            right: 0px;
            bottom: 0px;
            width: 120px;
            height: 120px;
            z-index: 999;
            @*background-color: red;*@
        }
        #AddNewCourse {
            position: fixed;
            border: 1px solid #000;
            top: 25%;
            bottom: 25%;
            right: 30%;
            left: 30%;
            background-color: white;
            z-index: 999;
            display:none;
        }
        #AddNewPlan {
            position: fixed;
            border: 1px solid #000;
            top: 25%;
            bottom: 25%;
            right: 30%;
            left: 30%;
            background-color: white;
            z-index: 999;
            display: none;
        }

        .tableHead {
            display: block
        }

        .tableBody {
            position: absolute;
            display: block;
            top: 38px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            overflow-y: scroll;
            overflow-x: hidden
        }

        .tableTr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        .DragSpan {
            border: 1px solid #000;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .AddCoursebutton {
            color: green;
            text-decoration: none
        }
        #delete {
            display: none
        }
        .cancelDivBtn {
            position: absolute;
            width: 10px;
            height: 10px;
            right: 5px;
            top: 5px;

        }
        #edtText {
            position: absolute;
            left: 30%;
            right: 30%;
            top: 35px;
            bottom: 15px;
        }
        .Additems {
            margin-bottom: 20px;
            border-top: 0px solid currentColor;
        }
    </style>
    <script></script>
</head>
<body>
    @using (Ajax.BeginForm("AddPlan", "NewPlanCourse", ("PName", "PCode", "PDur"), new AjaxOptions()
    {

        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Left"
    }))
    {

        <input id="PName" name="PName" value="" hidden="hidden" />
        <input id="PCode" name="PCode" value="" hidden="hidden" />
        <input id="PDur" name="PDur" value="" hidden="hidden" />
        <input id="AddPlansbmt" type="submit" hidden="hidden" />
    }
    @using (Ajax.BeginForm("AddCourseByAjaxForm", "NewPlanCourse", ("CId", "CName", "CCode"), new AjaxOptions()
    {

        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Righttable"
    }))
    {
        <input id="CId" name="CId" value="" hidden="hidden" />
        <input id="CName" name="CName" value="" hidden="hidden" />
        <input id="CCode" name="CCode" value="" hidden="hidden" />

        <input id="AddCoursesbmt" type="submit" hidden="hidden" />
    }



    @using (Ajax.BeginForm("DeleteCourse", "NewPlanCourse", "DelcsID", new AjaxOptions()
    {
        
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Left"
    }))
    {

        <input id="DelcsID" name="DelcsID" value="" hidden="hidden" />

        <input id="DelCssbmt" type="submit" hidden="hidden" />
    }
    <div id="whole">
        <div id="Left">

            <table class="table table-hover stud">

                <thead class="tableHead">
                    <tr class="tableTr">
                        <th>
                            Plan <a style="color:green; text-decoration: none"
                                    href="javascript:void(0)"
                                    onclick="AddNewPlanHref()">
                                <font size="3">+</font>
                            </a>
                        </th>
                        <th>Course in this Plan</th>
                    </tr>
                </thead>
                <tbody id="Lefttable"
                       class="tableBody">

                    @foreach (var PItem in plans)
                    {
                        if (PItem.isHidden != "hidden")
                        {
                            <tr id=@PItem.planId
                                class="tableTr"
                                draggable="true"
                                ondragstart="dropElement(event)"
                                ondragend="spandragOver()"
                                ondrop="eleOndrop(event,this)"
                                ondragover="dragOver(event)">

                                <td class="LeftBoxPlan">@PItem.planName</td>
                                


                                <td id="LeftSpan @PItem.planId">
                                    @{ var L = Model.Where(a => a.planId == PItem.planId).ToList();}
                                    @foreach (var C in L)
                                    {
                                        if (C.isHidden != "hidden")
                                        {
                                            <span id="@PItem.planId bind @C.courseId"
                                                  class="DragSpan"
                                                  ondragstart="spanDrag(event)"
                                                  ondragend="spandragOver()"
                                                  draggable="true">
                                                @C.Course.courseName <br />
                                            </span>
                                        }

                                    }
                                </td>
                            </tr>}
                        }
                    </tbody>
            </table>
        </div>
        <div id="Right">
            <table class="table table-hover stud"
                   ondrop="hiddenPlanCourseSpan(event)">
                <thead  class="tableHead">
                    <tr class="tableTr">
                        <th>
                            Course <a class="AddCoursebutton"
                                      href="javascript:void(0)"
                                      onclick="AddNewCourseHref()"><font size="3">+</font></a>
                        </th>
                        @* <th>Having this course's Plan</th>*@
                    </tr>
                </thead>
                <tbody id="Righttable"
                       class="tableBody">
                    @foreach (var CItem in course)
                    {


                    if (CItem.isHidden != "hidden") { 
                        <tr id=@CItem.courseID
                            class="tableTr"
                            draggable="true"
                            ondragstart="dropElement(event)"
                            ondragover="dragOver(event)"
                             ondragend="spandragOver()">

                            <td>@CItem.courseName</td>

                        </tr>
}
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="delete"
         ondragover="dragOver(event)"
         ondrop="spanOndrag(event)">

        <img width="120" height="120" src="~/Content/Trash_can.png" />
        


    </div>
    <div id="AddNewCourse"
         >
        <input onclick="canceldiv()"
               class="btn btn-danger cancelDivBtn"
               type="button"/>
        <div id="edtText" >
            <div class="" id="tableExcel">
                <div class="Additems">
                    <input type="text"
                           class="form-control col-md-10"
                           id="AddNewCourseId"
                           placeholder="New Course ID"
                           onblur="AddNewCourseCidOnBlur(this)" />
                    <br /><span id="addCidSpan"></span><br />
                </div>
                <div  class="Additems">
                    <input type="text"
                           class="form-control col-md-10"
                           id="AddNewCourseName"
                           placeholder="New Course Name"
                           onblur="AddNewCourseCnameOnBlur(this)" />
                    <br /> <span id="addCnameSpan"></span><br />
                </div>
                <div class="Additems">
                    <input type="text"
                           class="form-control col-md-10"
                           id="AddNewCourseCode"
                           placeholder="New Course Code"
                           onblur="AddNewCourseCcodeOnBlur(this)" />
                    <br /><span id="addCcodeSpan"></span><br />
                </div>

            </div>
            <input onclick="addCourse()"
                   class="btn btn-primary"
                   type="button"
                   value="Add" />
           
        </div>
    </div>
    <div id="AddNewPlan"
         >
        <input onclick="cancelPlandiv()"
               class="btn btn-danger cancelDivBtn"
               type="button"
                />
        <div id="edtText" class="edtText">
            <div class="" id="tableExcel">
                <div class="Additems">
                    <input type="text"
                           class="form-control col-md-10"
                           id="AddNewPlanName"
                           placeholder="New Plan Name"
                           onblur="AddNewPlanNameOnBlur(this)" />
                    <br /><span id="addPnameSpan"></span><br />
                </div>
                <div class="Additems">
                    <input type="text"
                           class="form-control col-md-10"
                           id="AddNewPlanCode"
                           placeholder="New Plan Code"
                           onblur="AddNewPlanCodeOnBlur(this)" />
                    <br /> <span id="addPcodeSpan"></span><br />
                </div>
                <div class="Additems">
                    <input type="number"
                           class="form-control col-md-10"
                           maxlength="1"
                           min="1"
                           max="5"
                           value="1"
                           id="AddNewPlanDuration"
                           placeholder="New Plan Duration"
                           onkeyup="AddNewPlanDurationOnKeyPress(this)" />
                    <br /><span id="addCcodeSpan"></span><br />
                </div>

            </div>
            <input onclick="addPlan()"
                   class="btn btn-primary"
                   type="button"
                   value="Add" />
        </div>
    </div>

</body>
</html>




@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">

        function dropElement(e) {
            e = e || window.event;
            document.getElementById("delete").style.display = "inherit";
            e.dataTransfer.setData('text', e.target.id);
            e.dataTransfer.setData('Pid', e.target.parentElement.id);
            @* console.log(e.target.parentElement.id);*@
        }

        function eleOndrop(e, t) {
            e = e || window.event;
            //when take Right<tr>(course) to Left<tr>(plan),use this function to add selected course into selected plan
            var someID = e.dataTransfer.getData('text');
            var Pid = e.dataTransfer.getData('Pid');
            var thisid = t.id;
            if (Pid == "Righttable" && t.parentElement.id == "Lefttable") {
                $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/AddCoursePlan",
                    data: { planId: t.id, courseId: someID },
                    success: function (data) {
                        //console.log("22121223", data)
                        if (data != "This course is already selected") {
                            //console.log(data + "be Added to" + t.id)
                            var newSpan = document.createElement("span");
                            newSpan.setAttribute("id", t.id + " bind " + someID);
                            newSpan.style.border = "1px solid #000";
                            newSpan.style.marginTop = "5px";
                            newSpan.style.marginBottom = "5px";
                            newSpan.setAttribute("ondragstart", "spanDrag(event)");
                            newSpan.setAttribute("ondragend", "spandragOver(event)");
                            newSpan.draggable = "true";
                            newSpan.innerHTML = data + "<br />";
                            document.getElementById("LeftSpan " + thisid).appendChild(newSpan);

                        } else {
                            alert(data);
                        }
                    },

                })


                @* document.getElementById("csID").value = someID;
                document.getElementById("plID").value = t.id;
                document.getElementById("PorC").value = 1;
                console.log("b");
                document.getElementById("sbmt").click();*@
            }
        }


        function spanDrag(e) {
            e = e || window.event;
            //when drag "Course in this Plan"<span>,get the span's information, include spanID courseID,
            @*document.getElementById("delete").style.display = "inherit";*@
            e.dataTransfer.setData('delID', e.target.id);
            var src = e.target.parentElement.id;
            
            e.dataTransfer.setData('spanPlID', src);
            e.dataTransfer.setData('PPid', e.target.parentElement.parentElement.id);
            e.dataTransfer.setData('PPPiD', e.target.parentElement.parentElement.parentElement.id);

        }


        function dragOver(e) {
            e = e || window.event;
            //cancel the default event, if i don't use "e.preventDefault();", the other function can not work properly
            e.preventDefault();
        }

        function spandragOver() {
            //when stop drag, let the Rubbish bins(Right bottom) be invisible
            
            document.getElementById("delete").style.display = "none";


        }
        function hiddenPlanCourseSpan(e) {
            e = e || window.event;
            var deldata = e.dataTransfer.getData("delID");
            var ppid = e.dataTransfer.getData("PPid");
            var pppid = e.dataTransfer.getData("PPPid");
            if (pppid == "Lefttable") {
                $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/DelSpan",
                    data: { thisid: ppid, deld: deldata },
                    success: function (data) {
                        if (data == "removed") {
                            //console.log(deldata + "be removed")
                            document.getElementById(deldata).remove();
                        }
                    },

                })
            }
        }


        function spanOndrag(e) {
            e = e || window.event;
            var deldata = e.dataTransfer.getData("delID");
            var pppid = e.dataTransfer.getData("PPPid");
            var ppid = e.dataTransfer.getData("PPid");
            var pid = e.dataTransfer.getData("Pid");
            var delcourse = e.dataTransfer.getData("text");
            //console.log(pppid);
            //console.log(deldata);


            if (pppid == "Lefttable") {
                $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/DelSpan",
                    data: { thisid: ppid, deld: deldata },
                    success: function (data) {
                        if (data == "removed") {
                            //console.log(deldata + "be removed")
                            document.getElementById(deldata).remove();
                        }
                    },

                })
            }
            if (pid == "Righttable") {

                document.getElementById("DelcsID").value = delcourse;
                console.log(delcourse + "will be deleted");
                var cofm = confirm("Are you sure to delete this course?")

                if (cofm == true) {

                
                document.getElementById("DelCssbmt").click();
                    document.getElementById(delcourse).remove();
                }
                spandragOver();
            }
            if (pid == "Lefttable") {
                $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/DelPlan",
                    data: { thisid: delcourse },
                    success: function (data) {
                        if (data == "removed") {
                            console.log(deldata + "be removed")
                            document.getElementById(delcourse).remove();
                            spandragOver();
                        }
                    },

                })
            }
        }
        function InvalidCharacter(t) {

            var re = /^[a-zA-Z0-9 ]*$/;//Only numbers and upper or lower case letters are allowed 
            if (!re.test(t.value)) {
                
                //delete the last letter
            } 

        }
        
        function AddNewCourseHref() {

            document.getElementById("AddNewCourse").style.display = "initial";
        }
        function AddNewCourseCidOnBlur(t) {
            
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsCourseIdRepeated",
                data: { courseId: t.value },
                success: function (data) {
                    if (data == "repeated") {
                        document.getElementById("addCidSpan").style.color = "red";
                        document.getElementById("addCidSpan").innerHTML = "This ID is already in use";
                        var Cid = document.getElementById(t.id);
                        Cid.value = "";
                    }
                    if (data == "OK") {
                        var re = /^[0-9]*$/;//Only numbers are allowed 
                        if (!re.test(t.value)) {
                            document.getElementById("addCidSpan").style.color = "red";
                            document.getElementById("addCidSpan").innerHTML = "Please do not input invaild character";
                            var Cid = document.getElementById(t.id);
                            Cid.value = "";
                        } else { 
                        document.getElementById("addCidSpan").style.color = "green";
                            document.getElementById("addCidSpan").innerHTML = "OK";
                        }
                    } if (data == "null") {
                        document.getElementById("addCidSpan").style.color = "red";
                        document.getElementById("addCidSpan").innerHTML = "ID can not be empty";
                    }
                },

            })
        }
        function AddNewCourseCnameOnBlur(t) {
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsCourseNameRepeated",
                data: { courseName: t.value },
                success: function (data) {
                    if (data == "repeated") {
                        document.getElementById("addCnameSpan").style.color = "red";
                        document.getElementById("addCnameSpan").innerHTML = "This Name is already in use";
                        var Cname = document.getElementById(t.id);
                        Cname.value = "";
                    }
                    if (data == "OK") {
                        var re = /^[a-zA-Z0-9 ]*$/;//Only numbers and upper or lower case letters and space are allowed 
                        if (!re.test(t.value)) {
                            document.getElementById("addCnameSpan").style.color = "red";
                            document.getElementById("addCnameSpan").innerHTML = "Please do not input invaild character";
                            var Cname = document.getElementById(t.id);
                            Cname.value = "";
                        } else { 
                        document.getElementById("addCnameSpan").style.color = "green";
                        document.getElementById("addCnameSpan").innerHTML = "OK";
                    }}
                    if (data == "null") {
                        document.getElementById("addCnameSpan").style.color = "red";
                        document.getElementById("addCnameSpan").innerHTML = "Name can not be empty";
                    }
                },

            })
        }
        function AddNewCourseCcodeOnBlur(t) {
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsCourseCodeRepeated",
                data: { courseCode: t.value },
                success: function (data) {
                    if (data == "repeated") {
                        console.log(data);
                        document.getElementById("addCcodeSpan").style.color = "red";
                        document.getElementById("addCcodeSpan").innerHTML = "This Code is already in use";
                        var Ccode = document.getElementById(t.id);
                        Ccode.value = "";

                    }
                    if (data == "OK") {
                        var re = /^[a-zA-Z0-9 ]*$/;//Only numbers and upper or lower case letters and space are allowed 
                        if (!re.test(t.value)) {
                            document.getElementById("addCcodeSpan").style.color = "red";
                            document.getElementById("addCcodeSpan").innerHTML = "Please do not input invaild character";
                            var Ccode = document.getElementById(t.id);
                            Ccode.value = "";
                        } else {

                            document.getElementById("addCcodeSpan").style.color = "green";
                            document.getElementById("addCcodeSpan").innerHTML = "OK";
                        }
                    }
                    if (data == "null") {
                        console.log(data);
                        document.getElementById("addCcodeSpan").style.color = "red";
                        document.getElementById("addCcodeSpan").innerHTML = "Code can not be empty";
                    }

                },

            })
        }
        function canceldiv() {
            var Cid = document.getElementById("AddNewCourseId");
            var Cname = document.getElementById("AddNewCourseName");
            var Ccode = document.getElementById("AddNewCourseCode");
            Cid.value = "";
            Cname.value = "";
            Ccode.value = "";
            document.getElementById("addCidSpan").innerHTML = "";
            document.getElementById("addCnameSpan").innerHTML = "";
            document.getElementById("addCcodeSpan").innerHTML = "";
            document.getElementById("AddNewCourse").style.display = "none";
        }
        function AddNewPlanHref() {
            document.getElementById("AddNewPlan").style.display = "initial";

        }
        function AddNewPlanNameOnBlur(t) {
            InvalidCharacter(t);
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsPlanNameRepeated",
                data: { planName: t.value },
                success: function (data) {
                    if (data == "repeated") {
                        document.getElementById("addPnameSpan").style.color = "red";
                        document.getElementById("addPnameSpan").innerHTML = "This Name is already in use";
                        var Pname = document.getElementById(t.id);
                        Pname.value = "";
                    }
                    if (data == "OK") {
                        var re = /^[a-zA-Z0-9 ]*$/;//Only numbers and upper or lower case letters and space are allowed 
                        if (!re.test(t.value)) {
                            document.getElementById("addPnameSpan").style.color = "red";
                            document.getElementById("addPnameSpan").innerHTML = "Please do not input invaild character";
                            var Pname = document.getElementById(t.id);
                            Pname.value = "";
                        } else {
                            document.getElementById("addPnameSpan").style.color = "green";
                            document.getElementById("addPnameSpan").innerHTML = "OK";
                        }
                    }
                    if (data == "null") {
                        document.getElementById("addPnameSpan").style.color = "red";
                        document.getElementById("addPnameSpan").innerHTML = "Name can not be empty";
                    }
                },

            })
        }

        function AddNewPlanCodeOnBlur(t) {
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsPlanCodeRepeated",
                data: { planCode: t.value },
                success: function (data) {
                    console.log(data);
                    if (data == "repeated") {
                        document.getElementById("addPcodeSpan").style.color = "red";
                        document.getElementById("addPcodeSpan").innerHTML = "This Code is already in use";
                        var Pcode = document.getElementById(t.id);
                        Pcode.value = "";
                    }
                    if (data == "OK") {
                        var re = /^[a-zA-Z0-9 ]*$/;//Only numbers and upper or lower case letters and space are allowed 
                        if (!re.test(t.value)) {
                            document.getElementById("addPcodeSpan").style.color = "red";
                            document.getElementById("addPcodeSpan").innerHTML = "Please do not input invaild character";
                            var Pcode = document.getElementById(t.id);
                            Pcode.value = "";
                        } else {
                            document.getElementById("addPcodeSpan").style.color = "green";
                            document.getElementById("addPcodeSpan").innerHTML = "OK";
                        }
                    }
                    if (data == "null") {
                        document.getElementById("addPcodeSpan").style.color = "red";
                        document.getElementById("addPcodeSpan").innerHTML = "Code can not be empty";
                    }
                },

            })
        }
        function AddNewPlanDurationOnKeyPress(t) {
            var durInput = document.getElementById(t.id);
            if (durInput.value > 5) {
                durInput.value = 5;
            }
            else if (durInput.value < 0) {
                durInput.value = 1;
            } else if (durInput.value > 0 && durInput.value < 1) {
                durInput.value = 1;
            } else if (durInput.value > 1 && durInput.value < 2) {
                durInput.value = 2;
            } else if (durInput.value > 2 && durInput.value < 3) {
                durInput.value = 3;
            } else if (durInput.value > 3 && durInput.value < 4) {
                durInput.value = 4;
            } else if (durInput.value > 4 && durInput.value < 5) {
                durInput.value = 5;
            }
                
           
        }


        function addPlan() {
            var Pname = document.getElementById("AddNewPlanName");
            var Pcode = document.getElementById("AddNewPlanCode");
            var PDur = document.getElementById("AddNewPlanDuration");
            var AddPN = document.getElementById("PName");
            var AddPC = document.getElementById("PCode");
            var AddPD = document.getElementById("PDur");
            if (Pname.value == "" | Pcode.value == "" | PDur.value == "") {
                alert("please input information");
            } else {
                console.log("add");
               
                document.getElementById("PName").value = Pname.value;
                document.getElementById("PCode").value = Pcode.value;
                document.getElementById("PDur").value = PDur.value;
                document.getElementById("AddPlansbmt").click();
                Pname.value = "";
                Pcode.value = "";
                PDur.value = 1;
                document.getElementById("addPnameSpan").innerHTML = "";
                document.getElementById("addPcodeSpan").innerHTML = "";
            }
        }
        function cancelPlandiv() {
            var Pname = document.getElementById("AddNewPlanName");
            var Pcode = document.getElementById("AddNewPlanCode");
            var PDur = document.getElementById("AddNewPlanDuration");
            Pname.value = "";
            Pcode.value = "";
            PDur.value = 1;
            document.getElementById("addPnameSpan").innerHTML = "";
            document.getElementById("addPcodeSpan").innerHTML = "";
            
            document.getElementById("AddNewPlan").style.display = "none";
        }

        function addCourse() {
            var Cid = document.getElementById("AddNewCourseId");
            var Cname = document.getElementById("AddNewCourseName");
            var Ccode = document.getElementById("AddNewCourseCode");
            if (Cid.value == "" | Cname.value == "" | Ccode.value == "") {
                alert("please input information");
            } else {
                document.getElementById("CId").value = Cid.value;
                document.getElementById("CName").value = Cname.value;
                document.getElementById("CCode").value = Ccode.value;
                document.getElementById("AddCoursesbmt").click();
                spandragOver();
                Cid.value = "";
                Cname.value = "";
                Ccode.value = "";
                document.getElementById("addCidSpan").innerHTML = "";
                document.getElementById("addCnameSpan").innerHTML = "";
                document.getElementById("addCcodeSpan").innerHTML = "";

         @*       $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/AddCourse",
                    data: { CId: Cid.value, CName: Cname.value, CCode: Ccode.value },
                    success: function (data) {
                        //console.log("22121223", data)
                        if (data == "success") {
                            //console.log(data + "be Added to" + t.id)
                            var newtr = document.createElement("tr");
                            newtr.setAttribute("id", Cid.value);
                            newtr.style.display = "table";
                            newtr.style.width = "100%";
                            newtr.style.tableLayout = "fixed";
                            newtr.setAttribute("ondragstart", "dropElement(event)");
                            newtr.setAttribute("ondragend", "spandragOver(event)");
                            newtr.setAttribute("ondragover", "dragOver(event)");

                            newtr.draggable = "true";
                            newtr.innerHTML = "<td>" + Cname.value+"</td > ";
                            document.getElementById("Righttable").appendChild(newtr);
                            alert("Add course successful");
                            Cid.value = "";
                            Cname.value = "";
                            Ccode.value = "";
                        }
                    },

                })*@
            }
        }

    </script>

}