
@model IEnumerable<WebApplication4.Models.PlanCourses>
@{
    ViewBag.Title = "Index";
    var plans = (List<WebApplication4.Models.Plans>)ViewBag.plans;
    var course = (List<WebApplication4.Models.Course>)ViewBag.course;
   
}




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #Left {
            position: absolute;
            left: 5%;
            right: 32%;
            bottom: 10%;
            top: 70px;
            overflow: hidden;
        }

        #Right {
            position: absolute;
            right: 5%;
            left: 72%;
            bottom: 10%;
            top: 70px;
            overflow: auto;
        }

        #delete {
            position: fixed;
            right: 0px;
            bottom: 0px;
            width: 130px;
            height: 120px;
            z-index: 999;
            background-color: red;
        }
        #AddNewCourse {
            position: fixed;
            border: 1px solid #000;
            top: 25%;
            bottom: 25%;
            right: 30%;
            left: 30%;
            background-color: white;
            z-index: 999;
        }
    </style>
    <script></script>
</head>
<body>
    @using (Ajax.BeginForm("AddCourse", "NewPlanCourse", ("CId", "CName", "CCode"), new AjaxOptions()
    {

        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Right"
    }))
    {
        <input id="CId" name="CId" value="" hidden="hidden" />
        <input id="CName" name="CName" value="" hidden="hidden" />
        <input id="CCode" name="CCode" value="" hidden="hidden" />
        <input id="AddCoursesbmt" type="submit" hidden="hidden" />
    }

    
    
    @using (Ajax.BeginForm("DeleteCourse", "NewPlanCourse", "DelcsID", new AjaxOptions()
    {
        Confirm="are you sure to delete this course?",
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Left"
    }))
    {

        <input id="DelcsID" name="DelcsID" value="" hidden="hidden" />
        
        <input id="DelCssbmt" type="submit" hidden="hidden" />
    }
    <div id="whole">
        <div id="Left">

            <table class="table table-hover stud">

                <thead style="display:block">
                    <tr style="display: table; width: 100%; table-layout: fixed;">
                        <th>Plan</th>
                        <th>Course in this Plan</th>
                    </tr>
                </thead>
                <tbody id="Lefttable"
                       style="position:absolute; display:block;top:38px;bottom:0px;left:0px;right:0px; overflow-y:scroll; overflow-x: hidden;">

                    @foreach (var PItem in plans)
                    {
                        <tr id=@PItem.planId
                            style="display: table; width: 100%; table-layout: fixed;"
                            draggable="true"
                            ondragstart="dropElement(event)"
                            ondrop="eleOndrop(event,this)"
                            ondragover="dragOver(event)">
                            <td class="LeftBoxPlan">@PItem.planName</td>
                           
                            <td id="LeftSpan @PItem.planId">
                                @{ var L = Model.Where(m => m.planId == PItem.planId).ToList();}
                                @foreach (var C in L)
                                {
                                    <span id="@PItem.planId bind @C.courseId"
                                          style="border: 1px solid #000;margin-top:5px; margin-bottom:5px;"
                                          
                                          ondragstart="spanDrag(event)"
                                          
                                          ondragend="spandragOver(event)"
                                          draggable="true">
                                        @course.FirstOrDefault(a => a.courseID == C.courseId).courseName<br />
                                    </span>


                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="Right">
            <table class="table table-hover stud">
                <thead style="display:block">
                    <tr style="display: table; width: 100%; table-layout: fixed;">
                        <th>Course <a 
                                      style="color:green; text-decoration: none" 
                                      href="javascript:void(0)" 
                                      onclick="AddNewCourseHref()"><font size="3">+</font></a>
                        </th>
                        @* <th>Having this course's Plan</th>*@
                    </tr>
                </thead>
                <tbody id="Righttable"
                       style="position:absolute; display:block;top:38px;bottom:0px;left:0px;right:0px; overflow-y:scroll; overflow-x: hidden;">
                    @foreach (var CItem in course)
                    {
                        <tr id=@CItem.courseID 
                            
                            style="display: table; width: 100%; table-layout: fixed;"
                            draggable="true"
                            ondragstart="dropElement(event)"
                            ondragend="spandragOver(event)"
                            ondragover="dragOver(event)">
                            
                            <td>@CItem.courseName</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="delete"
         hidden="hidden"
         ondragover="dragOver(event)"
         ondrop="spanOndrag(event)"></div>
    <div id="AddNewCourse"
         hidden="hidden">
        <input onclick="canceldiv()" 
               class="btn btn-danger" 
               type="button" 
               style="position:absolute; width:10px; height:10px; right:5px; top:5px;"
               
               />
        <div id="edtText" style="position:absolute;left:30%;right:30%;top:35px; bottom:15px;">
            <div class="table table-hover" id="tableExcel">
                <div style="margin-bottom:20px;">
                    <input
                           type="text"
                           id="AddNewCourseId"
                           placeholder="New Course ID"
                           onblur="AddNewCourseCidOnBlur(this)" />
                    <br /><span id="addCidSpan"></span><br />
                </div>
                <div style="margin-bottom:20px;">
                    <input 
                           type="text"
                           id="AddNewCourseName"
                           placeholder="New Course Name"
                           onblur="AddNewCourseCnameOnBlur(this)" />
                    <br /> <span id="addCnameSpan"></span><br />
                </div>
                <div style="margin-bottom:20px;">
                    <input 
                           type="text"
                           id="AddNewCourseCode"
                           placeholder="New Course Code"
                           onblur="AddNewCourseCcodeOnBlur(this)" />
                    <br /><span id="addCcodeSpan"></span><br />
                </div>

            </div>
            <input 
                   onclick="addCourse()"
                   class="btn btn-primary"
                   type="button"
                   value="Add"
                   />
        </div>
    </div>
</body>
</html>




@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">

        function dropElement(e) {
            document.getElementById("delete").style.display = "inherit";
            e.dataTransfer.setData('text', e.target.id);
            e.dataTransfer.setData('Pid', e.target.parentElement.id);
            @* console.log(e.target.parentElement.id);*@
        }

        function eleOndrop(e, t) {
            //when take Right<tr>(course) to Left<tr>(plan),use this function to add selected course into selected plan
            var someID = e.dataTransfer.getData('text');
            var Pid = e.dataTransfer.getData('Pid');
            var thisid = t.id;
            if (Pid == "Righttable" && t.parentElement.id == "Lefttable") {
                $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/AddCoursePlan",
                    data: { planId: t.id, courseId: someID },
                    success: function (data) {
                        //console.log("22121223", data)
                        if (data != "This course is already selected") {
                            //console.log(data + "be Added to" + t.id)
                            var newSpan = document.createElement("span");
                            newSpan.setAttribute("id", t.id + " bind " + someID);
                            newSpan.style.border = "1px solid #000";
                            newSpan.style.marginTop = "5px";
                            newSpan.style.marginBottom = "5px";
                            newSpan.setAttribute("ondragstart", "spanDrag(event)");
                            newSpan.setAttribute("ondragend", "spandragOver(event)");
                            newSpan.draggable = "true";
                            newSpan.innerHTML = data + "<br />";
                            document.getElementById("LeftSpan " + thisid).appendChild(newSpan);

                        } else {
                            alert(data);
                        }
                    },

                })


                @* document.getElementById("csID").value = someID;
                document.getElementById("plID").value = t.id;
                document.getElementById("PorC").value = 1;
                console.log("b");
                document.getElementById("sbmt").click();*@
            }
        }


        function spanDrag(e) {
            //when drag "Course in this Plan"<span>,get the span's information, include spanID courseID,
            document.getElementById("delete").style.display = "inherit";
            console.log("deeeeeeee", e);
            console.log("deeeeeeee", e.target);
            console.log("deeeeeeee",e.target.id);
            e.dataTransfer.setData('delID', e.target.id);
            var src = e.target.parentElement.id;
            var sub = src.slice(9);
            e.dataTransfer.setData('spanPlID', src);
            e.dataTransfer.setData('PPid', e.target.parentElement.parentElement.id);
            e.dataTransfer.setData('PPPiD', e.target.parentElement.parentElement.parentElement.id);

        }


        function dragOver(e) {
            //cancel the default event, if i don't use "e.preventDefault();", the other function can not work properly
            e.preventDefault();
        }

        function spandragOver() {
            //when stop drag, let the Rubbish bins(left bottom) be invisible
            document.getElementById("delete").style.display = "none";


        }



        function spanOndrag(e) {

            var deldata = e.dataTransfer.getData("delID");
            var pppid = e.dataTransfer.getData("PPPid");
            var ppid = e.dataTransfer.getData("PPid");
            var pid = e.dataTransfer.getData("Pid");
            var delcourse = e.dataTransfer.getData("text");
            //console.log(pppid);
            //console.log(deldata);


            if (pppid == "Lefttable") {
                $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/DelSpan",
                    data: { thisid: ppid, deld: deldata },
                    success: function (data) {
                        if (data == "removed") {
                            //console.log(deldata + "be removed")
                            document.getElementById(deldata).remove();
                        }
                    },

                })
            }
            if (pid == "Righttable") {

                document.getElementById("DelcsID").value = delcourse;
                console.log(delcourse+"will be deleted");
                document.getElementById("DelCssbmt").click();
                document.getElementById(delcourse).remove();
            }
        }


        function AddNewCourseHref() {

            document.getElementById("AddNewCourse").style.display = "initial";
        }
        function AddNewCourseCidOnBlur(t) {
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsCourseIdRepeated",
                data: { courseId: t.value },
                success: function (data) {
                    if (data == "repeated") {
                        document.getElementById("addCidSpan").style.color = "red";
                        document.getElementById("addCidSpan").innerHTML = "This ID is already in use";
                        var Cid = document.getElementById(t.id);
                        Cid.value = "";
                    }
                    if (data == "OK") {
                        document.getElementById("addCidSpan").style.color = "green";
                        document.getElementById("addCidSpan").innerHTML = "OK";
                    } if (data == "null") {
                        document.getElementById("addCidSpan").style.color = "red";
                        document.getElementById("addCidSpan").innerHTML = "ID can not be empty";
                    }
                },

            })
        }
        function AddNewCourseCnameOnBlur(t) {
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsCourseNameRepeated",
                data: { courseName: t.value },
                success: function (data) {
                    if (data == "repeated") {
                        document.getElementById("addCnameSpan").style.color = "red";
                        document.getElementById("addCnameSpan").innerHTML = "This Name is already in use";
                        var Cname = document.getElementById(t.id);
                        Cname.value = "";
                    }
                    if (data == "OK") {
                        document.getElementById("addCnameSpan").style.color = "green";
                        document.getElementById("addCnameSpan").innerHTML = "OK";
                    }
                    if (data == "null") {
                        document.getElementById("addCnameSpan").style.color = "red";
                        document.getElementById("addCnameSpan").innerHTML = "Name can not be empty";
                    }
                },

            })
        }
        function AddNewCourseCcodeOnBlur(t) {
            $.ajax({
                type: "POST",
                url: "/NewPlanCourse/IsCourseCodeRepeated",
                data: { courseCode: t.value },
                success: function (data) {
                    if (data == "repeated") {
                        console.log(data);
                        document.getElementById("addCcodeSpan").style.color = "red";
                        document.getElementById("addCcodeSpan").innerHTML = "This Code is already in use";
                        var Ccode = document.getElementById(t.id);
                        Ccode.value = "";

                    }
                    if (data == "OK") {
                        console.log(data);
                        document.getElementById("addCcodeSpan").style.color = "green";
                        document.getElementById("addCcodeSpan").innerHTML = "OK";
                    }
                    if (data == "null") {
                        console.log(data);
                        document.getElementById("addCcodeSpan").style.color = "red";
                        document.getElementById("addCcodeSpan").innerHTML = "Code can not be empty";
                    }

                },

            })
        }
        function canceldiv() {
            var Cid = document.getElementById("AddNewCourseId");
            var Cname = document.getElementById("AddNewCourseName");
            var Ccode = document.getElementById("AddNewCourseCode");
            Cid.value = "";
            Cname.value = "";
            Ccode.value = "";
            document.getElementById("addCidSpan").innerHTML = "";
            document.getElementById("addCnameSpan").innerHTML = "";
            document.getElementById("addCcodeSpan").innerHTML = "";
            document.getElementById("AddNewCourse").style.display = "none";
        }
        function addCourse() {
            var Cid = document.getElementById("AddNewCourseId");
            var Cname = document.getElementById("AddNewCourseName");
            var Ccode = document.getElementById("AddNewCourseCode");
            if (Cid.value == "" | Cname.value == "" | Ccode.value == "") {
                alert("please input information");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/NewPlanCourse/AddCourse",
                    data: { CId: Cid.value, CName: Cname.value, CCode: Ccode.value },
                    success: function (data) {
                        //console.log("22121223", data)
                        if (data == "success") {
                            //console.log(data + "be Added to" + t.id)
                            var newtr = document.createElement("tr");
                            newtr.setAttribute("id", Cid.value);
                            newtr.style.display = "table";
                            newtr.style.width = "100%";
                            newtr.style.tableLayout = "fixed";
                            newtr.setAttribute("ondragstart", "dropElement(event)");
                            newtr.setAttribute("ondragend", "spandragOver(event)");
                            newtr.setAttribute("ondragover", "dragOver(event)");

                            newtr.draggable = "true";
                            newtr.innerHTML = "<td>" + Cname.value+"</td > ";
                            document.getElementById("Righttable").appendChild(newtr);
                            alert("Add course successful");
                            Cid.value = "";
                            Cname.value = "";
                            Ccode.value = "";
                        } 
                    },

                })
            }
        }

    </script>

}